*{
    
    
}

.frame1{
    background-image: url(img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.frame2{
    background-image: url(img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat
}

.frame3{
    background-image: url(img/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10px;
}

.frame4{
    background-image: url(img/bg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10px;
}

.frame5{
    background-image: url(img/bg5.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10px; 
}

.frame6{
    background-image: url(img/bg6.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;    
    padding-bottom: 300px;
}

.frame7{
    background-image: url(img/bg5.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -180px; 
    padding-bottom: 30px;
}



.logodomo{
    position: relative;
    width: 318px;
    align-items: center;
    text-align: center;
    margin-left: 500px;
}

.headerf1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800px;
    font-style: italic;
    font-size: 84px;
    align-items: center;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #212121 11.79%, #5A5A5A 25.83%, #212121 41.69%, #212121 67.71%, #5A5A5A 80.73%, #212121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.35);
}

.secheader2{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-weight: 800px;
    font-size: 52px;
    line-height: 130%;
    letter-spacing: 0,095em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #EB1C23 0%, #C62127 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.kolung{
    position: relative;
    text-align: center;
    align-items: center;
    width: 50%;
    margin-left: 300px;
}

.panah{
    position: absolute;
    width: 72px;
    height: 113.05px;
    left: 1258px;
    top: 735px;
}

.headerf2{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600px;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: 50px;
}

span{
    color: #EB1C23;
}

.img2{
    width: 55%;
    position: relative;
    text-align: center;
    align-items: center;
    margin-left: 300px;
}

.tbf2{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700px;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.panah2{
    position: absolute;
    width: 72px;
    height: 113.05px;
    left: 1258px;
    top: 1750px;
}

.headerf3{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: white;
    padding-top: 91px;
}

.imgf31{
   padding-top: 50px;
}

.imgf32{
    position: relative;
    margin-right: 400px;
    margin-top: -200px;
    margin-left: 120px;
}

.txtf3{

    font-style: normal;
    font-weight: 500px;
    font-size: 29px;
    line-height: 130%;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    color: white;
    margin-left: 700px;
    margin-top: -500px;
    padding-bottom: 500px;
    margin-bottom: -10px;
    font-family: 'Poppins', sans-serif !important;
}

.panah3{
    position: absolute;
    width: 72px;
    height: 113.05px;
    left: 1258px;
    top: 2850px;
}

.headerf4{
    font-style: italic;
    font-weight: 800;
    font-size: 57px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: #EB1C23;
    padding-top: 650px;
}

.txtf4{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif !important;
    padding-bottom: 100px;
}

.panah4{
    position: absolute;
    width: 72px;
    height: 113.05px;
    left: 1258px;
    top: 3900px;
}

.headerf5{
    font-style: italic;
    font-weight: 800;
    font-size: 52px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    color: white;
    padding-top: 50px;
    text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
}

.txtf5{
    font-style: italic;
    font-weight: 800;
    font-size: 33px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
}

.sectxtf5{
    font-style: italic;
    font-weight: 800;
    font-size: 66px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,1em;
    text-transform: uppercase;
    text-shadow: 4px 6px 16px rgba(255, 255, 255, 0.45);
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
}

.rp5{
    position: relative;
    text-align: center;
    align-items: center;
    width: 50%;
    margin-left: 300px;
    margin-top: -80px;
}

.thirdtxtf5{
    font-style: italic;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
    margin-top: -50px;
    margin-bottom: 50px;
}

.rp9{
    position: relative;
    text-align: center;
    align-items: center;
    width: 50%;
    margin-left: 320px;

}

.fourthf5{
    font-style: italic;
    font-weight: 800;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
    margin-top: 50px;
    margin-bottom: 50px; 
    padding-bottom: 150px;
}

.panah5{
    position: absolute;
    width: 72px;
    height: 113.05px;
    left: 1258px;
    top: 4900px;
}

.logof6{
    position: relative;
    width: 318px;
    align-items: center;
    text-align: center;
    margin-left: 1030px;
}

.headerf6{
    font-style: italic;
    font-weight: 800;
    font-size: 51px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: #EB1C23;
    text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    margin-left: -700px;
}

.imgf6{
    margin-bottom: 50px;
    margin-left: 50px;
}

.txtf6{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 141%;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    margin-left: 700px;
    margin-top: -300px;
    padding-bottom: 200px;
}

.headerf62{
    font-style: italic;
    font-weight: 800;
    font-size: 51px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: #EB1C23;
    text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    margin-left: -700px;
}

.imgf62{
    margin-bottom: 50px;
    margin-left: 50px;
}

.txtf62{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 141%;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    margin-left: 700px;
    margin-top: -300px;
    padding-bottom: 200px;
}

.headerf63{
    font-style: italic;
    font-weight: 800;
    font-size: 51px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: #EB1C23;
    text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    margin-left: -700px;
}

.imgf63{
    margin-bottom: 50px;
    margin-left: 50px;
}

.txtf63{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 141%;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    margin-left: 700px;
    margin-top: -300px;
    padding-bottom: 200px;
}

.panah6{
    position: absolute;
    width: 72px;
    height: 113.05px;
    left: 1258px;
    top: 6800px;
}

.headerf7{
    font-style: italic;
    font-weight: 800;
    font-size: 52px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
    padding-top: 100px;
}

.secheaderf7{
    font-style: italic;
    font-weight: 800;
    font-size: 41px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
    margin-bottom: 50px;
}

.wa{
    position: relative;
    text-align: center;
    align-items: center;
    width: 50%;
    margin-left: 320px;
}

.txtf7{
    font-style: italic;
    font-weight: 800;
    font-size: 41px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0,02em;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
    margin-bottom: 50px;
    margin-top: 50px;
}

.txtf72{
    align-items: center;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 75px;
    line-height: 130%;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.35);
    padding-bottom: 100px;
}

/* responsive */

@media (max-width: 1024px){
    .panah{
        position: absolute;
        width: 72px;
        height: 113.05px;
        left: 900px;
        top: 735px;
    }

    .panah2{
            position: absolute;
            width: 72px;
            height: 113.05px;
            left: 940px;
            top: 1800px;
    }

    .panah3{
        position: absolute;
        width: 72px;
        height: 113.05px;
        left: 900px;
        top: 2750px;
    }

    .panah4{
        position: absolute;
        width: 72px;
        height: 113.05px;
        left: 900px;
        top: 3950px;
    }

    .panah5{
        position: absolute;
        width: 72px;
        height: 113.05px;
        left: 900px;
        top: 4800px;
    }

    .panah6{
        position: absolute;
        width: 72px;
        height: 113.05px;
        left: 900px;
        top: 6700px;
    }

    .logodomo{
        position: relative;
        width: 318px;
        align-items: center;
        text-align: center;
        margin-left: 400px;
    }

    .logof6{
        position: relative;
        width: 318px;
        align-items: center;
        text-align: center;
        margin-left: 710px;
    }

    .headerf1{
        margin-left: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800px;
        font-style: italic;
        font-size: 84px;
        align-items: center;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0,02em;
        text-transform: uppercase;
        background: linear-gradient(180deg, #212121 11.79%, #5A5A5A 25.83%, #212121 41.69%, #212121 67.71%, #5A5A5A 80.73%, #212121 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.35);
    }

    .secheader2{
        margin-left: 50px;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        text-align: center;
        font-style: italic;
        font-weight: 800px;
        font-size: 52px;
        line-height: 130%;
        letter-spacing: 0,095em;
        text-transform: uppercase;
        background: linear-gradient(180deg, #EB1C23 0%, #C62127 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .kolung{
        position: relative;
        text-align: center;
        align-items: center;
        width: 50%;
        margin-left: 260px;
    }

    .frame1{
        background-image: url(img/bg2.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 100px;
    }

    .frame2{
        background-image: url(img/bg1.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 100px;
    }

    .img2{
        width: 55%;
        position: relative;
        text-align: center;
        align-items: center;
        margin-left: 250px;
    }

    .imgf31{
        padding-top: 50px;
        width: 50%;
    }

    .imgf32{
        position: relative;
        margin-right: 400px;
        margin-top: -200px;
        margin-left: 130px;
        width: 40%;
    }

    .txtf3{
        
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    color: white;
    margin-left: 550px;
    margin-top: -400px;
    padding-bottom: 500px;
    margin-bottom: -10px;
    font-family: 'Poppins', sans-serif !important;

    }

    .rp5{
        position: relative;
        text-align: center;
        align-items: center;
        width: 50%;
        margin-left: 250px;
        margin-top: -80px;
    }

    .rp9{
        position: relative;
        text-align: center;
        align-items: center;
        width: 50%;
        margin-left: 250px;
    }

    .frame4{
        background-position: center;
        background-image: url(img/bg4.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -10px;
    }

    .headerf6{
        font-style: italic;
        font-weight: 800;
        font-size: 51px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0,02em;
        text-transform: uppercase;
        color: #EB1C23;
        text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
        margin-bottom: 50px;
        margin-left: -400px;
    }

    .headerf62{
        font-style: italic;
        font-weight: 800;
        font-size: 51px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0,02em;
        text-transform: uppercase;
        color: #EB1C23;
        text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
        margin-bottom: 50px;
        margin-left: -400px;
    }

    .headerf63{
        font-style: italic;
        font-weight: 800;
        font-size: 51px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0,02em;
        text-transform: uppercase;
        color: #EB1C23;
        text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
        margin-bottom: 50px;
        margin-left: -400px;
    }

   .txtf6{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 141%;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    margin-left: 620px;
    margin-top: -300px;
    padding-bottom: 200px;
   }

   .txtf62{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 141%;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    margin-left: 600px;
    padding-right: 50px;
    margin-top: -330px;
    padding-bottom: 200px;

   }

   .txtf63{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 141%;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    margin-left: 600px;
    margin-top: -300px;
    padding-bottom: 200px;
    }

    .wa{
        position: relative;
        text-align: center;
        align-items: center;
        width: 50%;
        margin-left: 280px;
    }

}

@media (max-width: 768px ){


    .logodomo{
        position: relative;
        width: 318px;
        align-items: center;
        text-align: center;
        margin-left: 240px;
    }

    .panah{
        position: absolute;
        width: 50px;
        height: 91px;
        left: 380px;
        top: 765px;
    }

    .panah2{
            position: absolute;
            width: 50px;
            height: 91px;
            left: 380px;
            top: 1620px;
    }

    .panah3{
        position: absolute;
        width: 50px;
        height: 91px;
        left: 380px;
        top: 2700px;
    }

    .panah4{
        position: absolute;
        width: 50px;
        height: 91px;
        left: 380px;
        top: 3900px;
    }

    .panah5{
        position: absolute;
        width: 50px;
        height: 91px;
        left: 380px;
        top: 4750px;
    }

    .logof6{
        position: relative;
        width: 180px;
        align-items: center;
        text-align: center;
        margin-left: 590px;
    }

    .panah6{
        position: absolute;
        width: 50px;
        height: 91px;
        left: 380px;
        top: 7200px;
    }

    .headerf1{
        font-family: 'Poppins', sans-serif;
        font-weight: 800px;
        font-style: italic;
        font-size: 70px;
        align-items: center;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0,02em;
        text-transform: uppercase;
        background: linear-gradient(180deg, #212121 11.79%, #5A5A5A 25.83%, #212121 41.69%, #212121 67.71%, #5A5A5A 80.73%, #212121 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.35);
    }

    .secheader2{
        margin-left: 50px;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        text-align: center;
        font-style: italic;
        font-weight: 800px;
        font-size: 52px;
        line-height: 130%;
        letter-spacing: 0,095em;
        text-transform: uppercase;
        background: linear-gradient(180deg, #EB1C23 0%, #C62127 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .kolung{
        position: relative;
        text-align: center;
        align-items: center;
        width: 70%;
        margin-left: 120px;
    }

    .headerf2{
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 600px;
        font-size: 38px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0,02em;
        text-transform: uppercase;
        padding-top: 100px;
        margin-bottom: 50px;
    }

    .img2{
        width: 55%;
        position: relative;
        text-align: center;
        align-items: center;
        margin-left: 180px;
    }

    .tbf2{
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 700px;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 50px;
    }

    .headerf3{
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0,02em;
        text-transform: uppercase;
        color: white;
        padding-top: 91px;
    }

    .imgf31{
        padding-top: 50px;
        width: 50%;
        margin-left: 300px;
    }

    .imgf32{
        position: relative;
        margin-right: 400px;
    }

    .txtf3{
        text-align: center;
        align-items: center;
        font-style: normal;
        font-weight: 500px;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: -0,02em;
        text-transform: uppercase;
        color: white;
        margin-left: 10px;
        margin-top: 60px;
        /* padding-bottom: 500px; */
        /* margin-bottom: -10px; */
    }
    .frame3{
        background-image: url(img/bg3.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -10px;
        margin-bottom: -200px;
    }

    .frame4{
        background-position: center;
    }

    .headerf4{
        font-style: italic;
        font-weight: 800;
        font-size: 35px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0,02em;
        text-transform: uppercase;
        color: #EB1C23;
        padding-top: 650px;
    }

    .txtf4{
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0,02em;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif !important;
        padding-bottom: 200px;
    }

    .headerf5{
        font-style: italic;
        font-weight: 800;
        font-size: 38px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0,02em;
        text-transform: uppercase;
        color: white;
        padding-top: 50px;
        text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
    }

    .txtf5{
        font-style: italic;
        font-weight: 800;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0,02em;
        text-transform: uppercase;
        color: white;
        text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
    }

    .rp5{
        position: relative;
        text-align: center;
        align-items: center;
        width: 50%;
        margin-left: 200px;
        margin-top: -40px;
        margin-bottom: 20px;
    }

        .rp9{
            position: relative;
            text-align: center;
            align-items: center;
            width: 50%;
            margin-left: 200px;
        }

        .frame5{
            background-image: url(img/bg5.png);
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -10px; 
            padding-bottom: 50px;
        }

        .headerf6{
            font-style: italic;
            font-weight: 800;
            font-size: 40px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0,02em;
            text-transform: uppercase;
            color: #EB1C23;
            text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
            margin-bottom: 50px;
            margin-left: -200px;
        }

        .txtf6{
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 141%;
            letter-spacing: -0,02em;
            text-transform: uppercase;
            margin-top: 10px;
            margin-left: 80px;
        }

        .headerf62{
            font-style: italic;
            font-weight: 800;
            font-size: 40px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0,02em;
            text-transform: uppercase;
            color: #EB1C23;
            text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
            margin-bottom: 50px;
            margin-left: -200px;
        }

        .txtf62{
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 141%;
            letter-spacing: -0,02em;
            text-transform: uppercase;
            margin-top: 10px;
            margin-left: 80px;
        }

        .headerf63{
            font-style: italic;
            font-weight: 800;
            font-size: 40px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0,02em;
            text-transform: uppercase;
            color: #EB1C23;
            text-shadow: 2px 8px 9px rgba(0, 0, 0, 0.15);
            margin-bottom: 50px;
            margin-left: -200px;
        }

        
        .txtf63{
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 141%;
            letter-spacing: -0,02em;
            text-transform: uppercase;
            margin-top: 10px;
            margin-left: 80px;
        }

        .headerf7{
            font-style: italic;
            font-weight: 800;
            font-size: 42px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0,02em;
            text-transform: uppercase;
            color: white;
            text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
            padding-top: 100px;
        }

        .secheaderf7{
            font-style: italic;
            font-weight: 800;
            font-size: 30px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0,02em;
            text-transform: uppercase;
            color: white;
            text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
            margin-bottom: 50px;
        }

        .wa{
            position: relative;
            text-align: center;
            align-items: center;
            width: 50%;
            margin-left: 200px;
        }

        .txtf7{
            font-style: italic;
            font-weight: 800;
            font-size: 35px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0,02em;
            text-transform: uppercase;
            color: white;
            text-shadow: 4px 11px 7px rgba(0, 0, 0, 0.45);
            margin-bottom: 50px;
            margin-top: 30px;
        }

        .txtf72{
            align-items: center;
            text-align: center;
            font-style: italic;
            font-weight: 800;
            font-size: 50px;
            line-height: 130%;
            color: white;
            text-transform: uppercase;
            background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.35);
            padding-bottom: 100px;
        }
        

}
