*{
    font-family: 'Poppins';
}

body{
    background-image:  url('img/bg2.png') ;
    background-repeat: repeat;
    background-size: cover;
}

img{
    text-align: center;
    position: relative;
    left: 35%;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 84px;
    line-height: 130%;

    
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    background: linear-gradient(180deg, #212121 11.79%, #5A5A5A 25.83%, #212121 41.69%, #212121 67.71%, #5A5A5A 80.73%, #212121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
    text-shadow: 5px 6px 15px rgba(0, 0, 0, 0.35);
}

h2{
    font-style: italic;
    font-weight: 800;
    font-size: 52px;
    line-height: 130%;
    text-align:center ;
    margin-bottom: 50px;

    letter-spacing: 0.095em;
    text-transform: uppercase;

    background: linear-gradient(180deg, #EB1C23 0%, #C62127 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
        text-fill-color: transparent;
}

.img1{
    position: relative;
    left: 14%;
  align-items: center;
}

.panah{
    width: 72px;
    height: 113.05px;
    left: 350px;
}

.panah2{
    width: 72px;
    height: 113.05px;
    left: 1100px;
    bottom: 200px;
}

p.jdlframe2{
    width: 896px;
    margin-left: 100px;

    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;

    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #000000;
}
p.paraframe2{
    width: 945px;
    height: 195px;
    margin-left: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;


    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

span{
    color: #EB1C23 ;
}

